{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<style>
table,
tr,
td {
    border: 1px solid #000;
    border-collapse: collapse;;
}

td {
    padding: 0.25rem;
}
</style>
{% endblock %}

{% block body %}

<h1>Stuff</h1>

<h2>Users with Clients</h2>
<ul>
    {% for user in users %}
        <li>
            {{ user.email }}

            <ul>
                {% for client in user.clients %}
                    <li>
                        {{client.name}}
                    </li>
                {% endfor %}
            </ul>

        </li>
    {% endfor %}
</ul>


<h2>Properties with Scans</h2>
<ul>
    {% for property in properties %}
        <li>
            {{ property.name }}

            <ul>
            {% for scan in property.scans %}
                <li>
                    {{ scan.scanType }}

                    <table>
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Url</td>
                                <td>Scan Status</td>
                                <td>Content Type</td>
                                <td>Byte Size</td>
                                <td>Http Status</td>
                            </tr>
                        </thead>
                        <tbody>

                    {% for url in scan.scanUrls %}

                            <tr>
                                <td>{{ url.id }}</td>
                                <td>{{ url.url }}</td>
                                <td>{{ url.scanStatus }}</td>
                                <td>{{ url.contentType }}</td>
                                <td>{{ url.byteSize }}</td>
                                <td>{{ url.httpStatus }}</td>
                            </tr>

                    {% endfor %}

                        </tbody>
                    </table>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
